---
version: 2.1
orbs:
  node: circleci/node@5

jobs:
  #--------------------------- Build ------------------------------------------------------------------
  install_dependencies:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run: echo "Les dépendences ont été téléchargées..."

  analyze_code:
    executor: node/default
    steps:
      - checkout
      - run: echo "Analyse du code ..."

  cleaning_packaging:
    executor: node/default
    steps:
      - checkout
      - run: echo "Les fichiers ont été nettoyés et emballés ..."

  build_check:
    executor: node/default
    steps:
      - checkout
      - run: echo "Tout est prêt pour le build on peut passer au test..."

  #--------------------------- Tests ------------------------------------------------------------------
  unit_tests:
    executor: node/default
    environment:
      JEST_JUNIT_OUTPUT_DIR: ./test-results/
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: npm install jest-junit
      - run:
          name: Run tests
          command: npm run test:ci
      - store_test_results:
          path: ./test-results/

  integration_tests:
    executor: node/default
    steps:
      - checkout
      - run: echo "Exécution des tests d'intégration..."

  regression_tests:
    executor: node/default
    steps:
      - checkout
      - run: echo "Exécution des tests de régression..."

  performance_tests:
    executor: node/default
    steps:
      - checkout
      - run: echo "Exécution des tests de performance..."

  security_tests:
    executor: node/default
    steps:
      - checkout
      - run: echo "Exécution des tests de sécurité..."

  compatibility_tests:
    executor: node/default
    steps:
      - checkout
      - run: echo "Exécution des tests de compatibilité..."

  accessibility_tests:
    executor: node/default
    steps:
      - checkout
      - run: echo "Exécution des tests d'accessibilité..."
  test_check:
    executor: node/default
    steps:
      - checkout
      - run: echo "Tout est prêt pour les tests on peut passer au deploy..."

  #--------------------------- Deploy ------------------------------------------------------------------
  prepare_deployment:
    executor: node/default
    steps:
      - checkout
      - run: echo "Préparation de l'environnement de déploiement..."

  deploy_application:
    executor: node/default
    steps:
      - checkout
      - run: echo "Déploiement de l'application..."

  verification_tests:
    executor: node/default
    steps:
      - checkout
      - run: echo "Exécution des tests de vérification..."

  functional_tests:
    executor: node/default
    steps:
      - checkout
      - run: echo "Exécution des tests de validation fonctionnelle..."

  load_tests:
    executor: node/default
    steps:
      - checkout
      - run: echo "Exécution des tests de charge..."

  finalize_deployment:
    executor: node/default
    steps:
      - checkout
      - run: echo "Finalisation du déploiement..."

  monitoring:
    executor: node/default
    steps:
      - checkout
      - run: echo "Surveillance et suivi de l'application..."

#--------------------------- Workflow ------------------------------------------------------------------
  workflows:
    version: 2
    build_and_deploy:
      jobs:
      # Build
        - install_dependencies:
            filters:
              branches:
                only:
                  - develop  
        - analyze_code:
            filters:
              branches:
                only:
                  - develop  
        - cleaning_packaging:
            filters:
              branches:
                only:
                  - develop  
        
        - build_check:
            requires:
              - install_dependencies
              - analyze_code
              - cleaning_packaging
            filters:
              branches:
                only:
                  - develop  
  
      # Tests
        - unit_tests:
            requires:
              - build_check
            filters:
              branches:
                only:
                  - develop  
  
        - integration_tests:
            requires:
              - build_check
            filters:
              branches:
                only:
                  - integration
                  - develop   
            
        - regression_tests:
            requires:
              - build_check
            filters:
              branches:
                only:
                  - integration 
                  - develop  
            
        - performance_tests:
            requires:
              - build_check
            filters:
              branches:
                only:
                  - develop  
  
        - security_tests:
            requires:
              - build_check
            filters:
              branches:
                only:
                  - develop  
  
        - compatibility_tests:
            requires:
              - build_check
            filters:
              branches:
                only:
                  - develop  
  
        - accessibility_tests:
            requires:
              - build_check
            filters:
              branches:
                only:
                  - develop  
  
        - test_check:
            requires:
              - unit_tests
              - integration_tests
              - regression_tests
              - performance_tests
              - security_tests
              - compatibility_tests
              - accessibility_tests
            filters:
              branches:
                only:
                  - develop
                  - integration  
    # Deploy
        - prepare_deployment:
            requires:
              - test_check
            filters:
              branches:
                only:
                  - develop
                  - integration  
  
        - deploy_application:
            requires:
              - prepare_deployment
            filters:
              branches:
                only:
                  - main 
  
        - verification_tests:
            requires:
              - deploy_application
            filters:
              branches:
                only:
                  - main  
  
        - functional_tests:
            requires:
              - deploy_application
            filters:
              branches:
                only:
                  - main  
  
        - load_tests:
            requires:
              - deploy_application
            filters:
              branches:
                only:
                  - main 
  
        - finalize_deployment:
            requires:
              - verification_tests
              - functional_tests
              - load_tests
            filters:
              branches:
                only:
                  - main  
  
        - monitoring:
            requires:
              - finalize_deployment
            filters:
              branches:
                only:
                  - main  
  
